<div class="container">
  <h2>Love 💌 Calculator</h2>
  <p class="small-heading">Know your future babe.</p>

  <div class="wrapper">
    <div class="row">
      <div class="col-2">
        <label for="name">Your Name</label>
      </div>
      <div class="col-2">
        <label for="curshName">His/Her Name</label>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <input type="text" id="name" placeholder="Enter your name">
      </div>
      <div class="col-2">
        <input type="text" id="curshName" placeholder="Enter your cursh name">
      </div>
    </div>

    <div class="row">
      <button>💞 Calculator 💞</button>
    </div>

  </div>

  <div class="result-box">
    <h3 class="result">Result</h3>
  </div>

  <app-footer></app-footer>

</div>








